.row.centered
  .col-lg-3
    %a.partner_tooltip{"data-original-title" => "La Fonderie is a digital agency for the French region of Ile-de-France that supports public and private initiatives that contribute to the development of the digital economy in the region.", :href => "http://www.lafonderie-idf.fr/", :target => "_blank"}
      %img{:alt => "La Fonderie", :src => "http://farm9.staticflickr.com/8517/8517873487_f6ff212e7c_o.png"}
  .col-lg-3
    %a.partner_tooltip{"data-original-title" => "Both a Bank and a citizen, La Banque Postale provides services to the people, their life, their financial concerns, the area they live in. La Banque Postale has a strong presence in the community, a strong value of sharing and a strong commitment to sustainability. It is commited to the community's daily economic and social life.", :href => "https://www.labanquepostale.fr/accueil.html", :target => "_blank"}
      %img#laBanquePostale{:alt => "La banque postal", :src => "http://farm9.staticflickr.com/8519/8547417797_3848ae3dcb_o.png"}
  .col-lg-3
    %a{:href => "https://www.google.com", :target => "_blank"}
      %img{:alt => "Google", :src => "http://farm9.staticflickr.com/8113/8654216317_f9c43c2f01_o.png"}
  .col-lg-3
    %a{:href => "http://www.airbnb.com", :target => "_blank"}
      %img{:alt => "Airbnb", :src => "http://farm9.staticflickr.com/8368/8518985630_07403e83f5_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://www.leetchi.com/", :target => "_blank"}
      %img{:alt => "Leetchi", :src => "http://farm9.staticflickr.com/8526/8518985632_80a69ace5f_o.png"}
  .col-lg-2
    %a{:href => "http://www.blablacar.com/", :target => "_blank"}
      %img{:alt => "BlaBlaCar", :src => "http://farm9.staticflickr.com/8116/8628507587_178b88ac65_o.png"}
  .col-lg-2
    %a{:href => "http://www.fabernovel.com/", :target => "_blank"}
      %img{:alt => "FaberNovel", :src => "http://farm9.staticflickr.com/8234/8557566563_66c9a3bcd1_o.png"}
  .col-lg-2
    %a{:href => "http://www.drivy.com", :target => "_blank"}
      %img{:alt => "Drivy", :src => "http://farm9.staticflickr.com/8373/8539410016_e0ebd867d1_o.png"}
  .col-lg-2
    %a{:href => "http://www.happycurious.fr/", :target => "_blank"}
      %img{:alt => "Happycurious", :src => "http://farm9.staticflickr.com/8092/8552537016_49f171bd59_o.png"}
  .col-lg-2
    %a{:href => "http://www.orange.com/", :target => "_blank"}
      %img{:alt => "Orange", :src => "http://farm9.staticflickr.com/8260/8640024666_0656425b01_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://github.com/", :target => "_blank"}
      %img{:alt => "Github", :src => "http://farm9.staticflickr.com/8526/8579077811_a6921afc76_o.png"}
  .col-lg-2
    %a{:href => "http://www.carpooling.com/", :target => "_blank"}
      %img{:alt => "Carpooling", :src => "http://farm9.staticflickr.com/8261/8637663253_b41f09b445_o.png"}
  .col-lg-2
    %a{:href => "http://www.escpeurope.eu/", :target => "_blank"}
      %img{:alt => "ESCP Europe", :src => "http://farm9.staticflickr.com/8521/8638921091_e2e4e7bc65_o.png"}
  .col-lg-2
    %a{:href => "http://www.laruchequiditoui.fr/", :target => "_blank"}
      %img{:alt => "La Ruche Qui Dit Oui", :src => "http://farm9.staticflickr.com/8117/8683196742_848e999549_o.png"}