.row.centered
  .col-lg-2
    %a{:href => "http://www.shareable.net/", :target => "_blank"}
      %img{:alt => "Shareable", :src => "http://farm9.staticflickr.com/8226/8526959247_4ee1074239_o.png"}
  .col-lg-2
    %a{:href => "http://ftalphaville.ft.com/", :target => "_blank"}
      %img{:alt => "FT Alphaville", :src => "http://farm9.staticflickr.com/8255/8635968964_6d7834e2ec_o.png"}
  .col-lg-2
    %a{:href => "http://www.latribune.fr/", :target => "_blank"}
      %img{:alt => "La Tribune", :src => "http://farm9.staticflickr.com/8405/8674932352_e6264e4388_o.png"}
  .col-lg-2
    %a{:href => "http://blog.makezine.com/volume/make-33/", :target => "_blank"}
      %img{:alt => "Make Magazine", :src => "http://farm9.staticflickr.com/8368/8589225483_b40547bbe4_o.png"}
  .col-lg-2
    %a{:href => "http://www.yorokobu.es/", :target => "_blank"}
      %img{:alt => "Yorokobu", :src => "http://farm9.staticflickr.com/8391/8556167212_47a08660b9_o.png"}
  .col-lg-2
    %a{:href => "http://www.wedemain.fr/", :target => "_blank"}
      %img{:alt => "WeDemain", :src => "http://farm9.staticflickr.com/8519/8568144081_e950133ef8_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://deskmag.com", :target => "_blank"}
      %img{:alt => "Deskmag", :src => "http://farm9.staticflickr.com/8524/8526959277_d73c002cc3_o.png"}
  .col-lg-2
    %a{:href => "http://usbek-et-rica.fr/", :target => "_blank"}
      %img{:alt => "Usbek &amp; Rica", :src => "http://farm9.staticflickr.com/8513/8599642227_8f019af025_o.png"}
  .col-lg-2
    %a{:href => "http://creative.nrw.de/news.html", :target => "_blank"}
      %img{:alt => "Creative NRW", :src => "http://farm9.staticflickr.com/8398/8617045634_80e729463e_o.png"}
  .col-lg-2
    %a{:href => "http://www.presse-citron.net/", :target => "_blank"}
      %img{:alt => "Presse Citron", :src => "http://farm9.staticflickr.com/8537/8638921083_f483b713fa_o.png"}
  .col-lg-2
    %a{:href => "http://www.knowtex.com/", :target => "_blank"}
      %img{:alt => "Knowtex", :src => "http://farm9.staticflickr.com/8531/8638756211_7a9b4def44_o.png"}
  .col-lg-2
    %a{:href => "http://www.labkultur.tv/", :target => "_blank"}
      %img{:alt => "Labkultur", :src => "http://farm9.staticflickr.com/8107/8640971050_f78372681d_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://www.maddyness.com/", :target => "_blank"}
      %img{:alt => "Maddyness", :src => "http://farm9.staticflickr.com/8258/8673810025_d291e50d18_o.png"}
  .col-lg-2
    %a{:href => "http://www.italiagermania.org/", :target => "_blank"}
      %img{:alt => "ItaliaGermania", :src => "http://farm9.staticflickr.com/8264/8678186352_5a2c6631f8_o.png"}