- array_buffer = []
- partner_number = 1
- test = true

- if important_partners_display
  - partners.first(important_partners_count).each do |partner|
    - array_buffer.push(partner)
  - remain = important_partners_count % 4
  - if remain > 0
    .row.centered
      - array_buffer.first(remain).each do |partner|
        - if remain == 1
          .col-lg-12
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
        - elsif remain == 2
          .col-lg-6
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
        - elsif remain == 3
          .col-lg-4
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
        - array_buffer.delete_at(0)


  - while !array_buffer.empty? do
    .row.centered
      - array_buffer.first(4).each do |partner|
        .col-lg-3
          %a{:href => partner.url, :target => "_blank"}
            %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
        - array_buffer.delete_at(0)
  

- else
  - important_partners_count = 0
- partners.last(partners.size-important_partners_count).each do |partner|
  - array_buffer.push(partner)      
  - if partner_number % 6 == 0 || partner_number == (partners.count - important_partners_count)
    .row.centered
      - array_buffer.each do |partner|
        .col-lg-2.home_partners
          %a{:href => partner.url, :target => "_blank"}
            %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
            
      - array_buffer.clear
  - partner_number += 1