- array_buffer = []
- partner_number = 1
- test = true
- special = ''
- three_col = 1
- placement = ''

- if !partners.blank?
  - if important_partners_display
    - partners.each do |partner|
      - array_buffer.push(partner)
    - if important_partners_count > 0
      .row.centered
        - array_buffer.first(important_partners_count).each do |partner|
          - if partner.first_name == 'Orange'
            - special = "tooltip.orange"
          - if partner.first_name == 'La Poste'
            - special = "tooltip.laposte"
          - if partner.first_name == 'Castorama'
            - special = "tooltip.castorama"
          - if important_partners_count == 1
            .col-md-12
              %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => "", 'placement' => 'right'}}
                %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - elsif important_partners_count == 2
            .col-md-6
              %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => "", 'placement' => 'right'}}
                %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - elsif important_partners_count == 3
            - if three_col == 3
              - placement = 'left'
            - else
              - placement = 'right'
            .col-md-4.main_partners
              - if !special.blank?
                %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => "", 'placement' => placement}}
                  %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
              - else
                %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => "", 'placement' => placement}}
                  %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}                
            - three_col = three_col + 1
          - array_buffer.delete_at(0)
      %hr
      %br
      %br

    - while !array_buffer.empty? do
      .row.centered
        - array_buffer.first(4).each do |partner|
          .col-sm-2.partners
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - array_buffer.delete_at(0)
    

  - else
    - important_partners_count = 0
    - partners.last(partners.size - important_partners_count).each do |partner|
      - array_buffer.push(partner)      
      - if partner_number % 6 == 0 || partner_number == (partners.count - important_partners_count)
        .row.centered
          - array_buffer.each do |partner|
            .col-sm-2.col-xs-4.home_partners
              %a{:href => partner.url, :target => "_blank"}
                %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
                
          - array_buffer.clear
      - partner_number += 1