- array_buffer = []
- partner_number = 1

-if important_partners_display
  .row.centered
    - partners.first(2).each do |important_partner|
      .col-lg-6
        %a{:href => important_partner.url, :target => "_blank"}
          %img.grayscale{:alt => important_partner.first_name, :src => important_partner.attachment.url(:custom), :style => "width:60%;"}

- else
  -important_partners_count = 0
- partners.last(partners.size - 2).each do |partner|
  - array_buffer.push(partner)      
  - if partner_number % 6 == 0 || partner_number == (partners.count - 2)
    .row.centered
      - array_buffer.each do |partner|
        .col-lg-2.home_partners
          %a{:href => partner.url, :target => "_blank"}
            %img.grayscale{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
            
      - array_buffer.clear
  - partner_number += 1