- array_buffer = []
- partner_number = 1
- test = true
- special = ''
- three_col = 1
- placement = ''

- if !partners.blank?
  - if important_partners_display
    - partners.first(important_partners_count).each do |partner|
      - array_buffer.push(partner)
    - remain = important_partners_count % 4
    - if remain > 0
      .row.centered
        - array_buffer.first(remain).each do |partner|
          - if partner.first_name == 'Orange'
            - special = "tooltip.orange"
          - if partner.first_name == 'La Poste'
            - special = "tooltip.laposte"
          - if partner.first_name == 'Castorama'
            - special = "tooltip.castorama"
          - if remain == 1
            .col-lg-12
              %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => t(special), 'placement' => 'right'}}
                %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - elsif remain == 2
            .col-lg-6
              %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => t(special), 'placement' => 'right'}}
                %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - elsif remain == 3
            - if three_col == 3
              - placement = 'left'
            - else
              - placement = 'right'
            .col-lg-4
              - if !special.blank?
                %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => I18n.t(special, :default => ""), 'placement' => placement}}
                  %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
              - else
                %a{:href => partner.url, :target => "_blank", :class => "special_tooltip", :data => {'original-title' => "", 'placement' => placement}}
                  %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}                
            - three_col = three_col + 1
          - array_buffer.delete_at(0)
      %hr
      %br
      %br

    - while !array_buffer.empty? do
      .row.centered
        - array_buffer.first(4).each do |partner|
          .col-lg-3
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
          - array_buffer.delete_at(0)
    

  - else
    - important_partners_count = 0
  - partners.last(partners.size-important_partners_count).each do |partner|
    - array_buffer.push(partner)      
    - if partner_number % 6 == 0 || partner_number == (partners.count - important_partners_count)
      .row.centered
        - array_buffer.each do |partner|
          .col-lg-2.home_partners
            %a{:href => partner.url, :target => "_blank"}
              %img.img-responsive.display-inline{:alt => partner.first_name, :src => partner.attachment.url(:medium)}
              
        - array_buffer.clear
    - partner_number += 1