.row.centered
  .col-lg-2
    %a{:href => "http://p2pfoundation.net/", :target => "_blank"}
      %img{:alt => "P2P Foundation", :src => "http://farm9.staticflickr.com/8524/8517873473_a714834450_o.png"}
  .col-lg-2
    %a{:href => "http://meshing.it/companies/59759-Mesh-Labs", :target => "_blank"}
      %img{:alt => "Meshlabs", :src => "http://farm9.staticflickr.com/8528/8518985578_461a975405_o.png"}
  .col-lg-2
    %a{:href => "http://okfn.org/", :target => "_blank"}
      %img{:alt => "Open Knowledge Foundation", :src => "http://farm9.staticflickr.com/8104/8560151168_254d1aee20_o.png"}
  .col-lg-2
    %a{:href => "http://collaborativeconsumption.com/", :target => "_blank"}
      %img{:alt => "Collaborative Consumption", :src => "http://farm9.staticflickr.com/8390/8528075070_1947d0ddb8_o.png"}
  .col-lg-2
    %a{:href => "http://sharelex.org/", :target => "_blank"}
      %img{:alt => "Sharelex", :src => "http://farm9.staticflickr.com/8109/8526959245_578b37467d_o.png"}
  .col-lg-2
    %a{:href => "http://www.oshwa.org/", :target => "_blank"}
      %img{:alt => "Open Source Hardware Association", :src => "http://farm9.staticflickr.com/8507/8551821961_f2696e092d_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://fing.org/", :target => "_blank"}
      %img{:alt => "Fing", :src => "http://farm9.staticflickr.com/8101/8517873523_d50b74b774_o.png"}
  .col-lg-2
    %a{:href => "http://collaborative-cities.com/", :target => "_blank"}
      %img{:alt => "Collaborative Cities", :src => "http://farm9.staticflickr.com/8507/8547417799_244c459a45_o.png"}
  .col-lg-2
    %a{:href => "http://democratieouverte.org/", :target => "_blank"}
      %img{:alt => "Démocratie Ouverte", :src => "http://farm9.staticflickr.com/8528/8600742228_964d8b8920_o.png"}
  .col-lg-2
    %a{:href => "http://siliconsentier.org/", :target => "_blank"}
      %img{:alt => "Silicon Sentier", :src => "http://farm9.staticflickr.com/8391/8601723965_fcb8cff205_o.png"}
  .col-lg-2
    %a{:href => "http://www.withoutmodel.com/home.php", :target => "_blank"}
      %img{:alt => "Without Model", :src => "http://farm9.staticflickr.com/8397/8610399069_b1308d641f_o.png"}
  .col-lg-2
    %a{:href => "http://nod-a.com/", :target => "_blank"}
      %img{:alt => "Nod_A", :src => "http://farm9.staticflickr.com/8542/8621988262_7ecbeaae1e_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://www.nouvellefabrique.fr/", :target => "_blank"}
      %img{:alt => "Nouvelle Fabrique", :src => "http://farm9.staticflickr.com/8102/8638921089_ff83acf236_o.png"}
  .col-lg-2
    %a{:href => "http://www.agence-ondine.com/", :target => "_blank"}
      %img{:alt => "Ondine", :src => "http://farm9.staticflickr.com/8109/8639006017_da4db31b1e_o.png"}
  .col-lg-2
    %a{:href => "http://www.v2rf.org/", :target => "_blank"}
      %img{:alt => "Vision to Reality Foundation", :src => "https://farm9.staticflickr.com/8262/8654980464_6b88a65ca4_m.jpg"}