.row.centered
  .col-lg-2
    %a{:href => "http://www.weezevent.com/", :target => "_blank"}
      %img{:alt => "Weezevent", :src => "http://farm9.staticflickr.com/8511/8526959239_2c7a823e81_o.png"}
  .col-lg-2
    %a{:href => "www.bedycasa.com", :target => "_blank"}
      %img{:alt => "Bedycasa", :src => "http://farm9.staticflickr.com/8243/8547417801_04f2a9eb13_o.png"}
  .col-lg-2
    %a{:href => "http://www.sparkfun.com/", :target => "_blank"}
      %img{:alt => "Sparkfun", :src => "http://farm9.staticflickr.com/8251/8549848130_1ba1d417d5_o.png"}
  .col-lg-2
    %a{:href => "http://ulule.com/", :target => "_blank"}
      %img{:alt => "Ulule", :src => "http://farm9.staticflickr.com/8535/8637663215_6af0b33970_o.png"}
  .col-lg-2
    %a{:href => "http://cocoonprojects.com/", :target => "_blank"}
      %img{:alt => "Cocoon Projects", :src => "http://farm9.staticflickr.com/8105/8597773107_f8decb2d68_o.png"}
  .col-lg-2
    %a{:href => "http://www.kisskissbankbank.com/", :target => "_blank"}
      %img{:alt => "KissKissBankBank", :src => "http://farm9.staticflickr.com/8243/8637663225_b2becffb8b_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://www.bureauxapartager.com/", :target => "_blank"}
      %img{:alt => "Bureaux À Partager", :src => "http://farm9.staticflickr.com/8522/8595164846_7817327d47_o.png"}
  .col-lg-2
    %a{:href => "http://bluenod.com/", :target => "_blank"}
      %img{:alt => "Bluenod", :src => "http://farm9.staticflickr.com/8395/8638756219_8a88b2dfc3_o.png"}
  .col-lg-2
    %a{:href => "https://www.payname.fr/", :target => "_blank"}
      %img{:alt => "Payname", :src => "http://farm9.staticflickr.com/8540/8640971080_c6a2205347_o.png"}
  .col-lg-2
    %a{:href => "http://www.altereco.com/", :target => "_blank"}
      %img{:alt => "Alter Eco", :src => "http://farm9.staticflickr.com/8116/8640971062_c5edfacc1e_o.png"}
  .col-lg-2
    %a{:href => "https://www.cookening.com/", :target => "_blank"}
      %img{:alt => "Cookening", :src => "http://farm9.staticflickr.com/8389/8653058290_a83d005853_o.png"}
  .col-lg-2
    %a{:href => "http://www.trustcloud.com/", :target => "_blank"}
      %img{:alt => "TrustCloud", :src => "http://farm9.staticflickr.com/8245/8654695961_86144db235_o.png"}
.row.centered
  .col-lg-2
    %a{:href => "http://yooneed.com/", :target => "_blank"}
      %img{:alt => "Yooneed", :src => "http://farm9.staticflickr.com/8107/8655110066_d01d4c0a9f_o.png"}
  .col-lg-2
    %a{:href => "http://www.ilidor.com/", :target => "_blank"}
      %img{:alt => "Illidor", :src => "http://farm9.staticflickr.com/8403/8673800921_2e9fcac540_o.png"}
  .col-lg-2
    %a{:href => "http://sharypic.com/", :target => "_blank"}
      %img{:alt => "Sharypic", :src => "https://farm9.staticflickr.com/8254/8693025348_d841f7171f_m.jpg"}
  .col-lg-2
    %a{:href => "http://www.znapp.it/", :target => "_blank"}
      %img{:alt => "Znappit", :src => "https://farm9.staticflickr.com/8263/8692979232_81deb2c0f0_m.jpg"}