= form_for @individual_type do |f|
  .form-group.row
    .col-lg-2
      = f.label :title, "Group Title: "
    .col-lg-10
      = f.text_field :title, :required => true, :class => "form-control"
  .form-group.row
    .col-lg-12.text-center
      = submit_tag "Save", :class => "btn btn-success"