
.container
  .row
    .col-md-12
      %h1 
        Individual Types Index
.container
  .row    
    .col-md-12 
      %strong        
        %i.glyphicon.glyphicon-globe
        Individual Types Index
      %hr/
      %br
      = render '/individual_types/partials/index_partial', :admin_panel => false
           
      
