*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/application.yml
config/database.yml
log/*
.tx/config
get-pip.py
transifex url.txt
translations/*
config/locales/ouishare*
config/locales/individuals*

