/ #container.container-fluid.triangles
/   #output.triangles
/   .container
/     .main-section{style: "padding-top:7%;"}
/       .row
/         #head_logo
/           = image_tag "/assets/logo-fest-2016-white.svg", :style => "height:250px;margin-top:20px"
/       .row
/         .col-md-10.col-md-offset-1
/           %h1.main-title{:style => "color:#ffffff"}
/             = t('dynamic_translations.main.title')
/         .col-md-8.col-md-offset-2
/           %p.main-section-paragraphes.white
/             = t('dynamic_translations.main.date')

/       = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
/         .row.text-center
/           .col-md-offset-3.col-md-4
/             = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
/           .col-md-2.btn-pink.submit-email-button
/             = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-pink", :style => "padding: 9px 12px 10px;"

/       .row
/         .col-md-8.col-md-offset-2
/           %br
/           %br
/           %p.centered.join_bouton
/             %a{:href => 'join#_tickets'}
/               %button.btn.btn-embossed.btn-primary
/                 = t('dynamic_translations.reminder_ticket.getyourtickets')
/ #controls.controls

/ = javascript_include_tag 'triangles'

.triangle_bg_3.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %h3.ouishare_stencil
          Guiding principles
        %hr.pink
        %br
        %br
      .col-md-8.col-md-offset-2
        %h6
          %span.bluebg
            These are 14 key principles that are guiding us in the OuiShare Fest program and experience design.
        %br
        %br
        %table.criteria
          %tr
            %td{:colspan => 4}
              %img.left{:src => '/assets/criteria/ask.png', :alt => 'Ask'}
              %p.left
                Ask the right questions
            %td{:colspan => 7}
              %img.left{:src => '/assets/criteria/enable.png', :alt => 'Enable'}
              %p.left
                Enable interaction, participation and collaboration
          %tr
            %td{:colspan => 5}
              %img.right{:src => '/assets/criteria/design.png', :alt => 'Design'}
              %p.right
                Design constructive confrontation: challenge ideas, expose multiple perspectives.
            %td{:colspan => 6}
              %img.left{:src => '/assets/criteria/promote.png', :alt => 'Promote'}
              %p.left
                Promote extraordinary ideas and meaningful projects, not the most popular ones.
          %tr
            %td{:colspan => 6}
              %img.left{:src => '/assets/criteria/distill.png', :alt => 'Distill'}
              %p.left
                Distill meaning from complexity.
            %td{:colspan => 5}
              %img.right{:src => '/assets/criteria/communicate.png', :alt => 'Communicate'}
              %p.right
                Communicate clearly and with purpose. 
          %tr
            %td{:colspan => 4}
              %img.right{:src => '/assets/criteria/stay.png', :alt => 'Stay'}
              %p.left
                Stay grounded. Be real. Don’t ignore the pressing issues of our times.
            %td{:colspan => 4}
              %img.right{:src => '/assets/criteria/highlight.png', :alt => 'Highlight'}
              %p.right
                Highlight new content and fresh approaches.
            %td{:colspan => 3}
              %img.left{:src => '/assets/criteria/make.png', :alt => 'Make'}
              %p.left
                Make it a learning experience.
          %tr
            %td{:rowspan => 2, :colspan => 5}
              %img.left{:src => '/assets/criteria/welcome.png', :alt => 'Welcome'}
              %p.left
                Welcome people as their full selves: mind, body and soul.
            %td{:colspan => 6}
              %img.right{:src => '/assets/criteria/consider.png', :alt => 'Consider'}
              %p.left
                Consider all levels: individuals, teams, organisations, systems.
          %tr
            %td{:rowspan => 2, :colspan => 6}
              %img.left{:src => '/assets/criteria/ensure.png', :alt => 'Ensure'}
              %p.justify
                Ensure OuiShare Fest is only a pit-stop on a continuous journey we are on together. 
          %tr
            %td{:colspan => 5}
              %img.right{:src => '/assets/criteria/strive.png', :alt => 'Strive'}
              %p.left
                Strive for diversity of origin and gender.
            / %td
            /   %img.right{:src => '/assets/criteria/ensure.png', :alt => 'Ensure'}
            /   %p.right
            /     Ensure OuiShare Fest is only a pit-stop on a continuous journey we are on together. 
          %tr
            %td{:colspan => 11}
              %img.left{:src => '/assets/criteria/have.png', :alt => 'Have'}
              %p.left
                Have fun, smile and be open. Don’t take oneself too seriously.

.triangle_bg_4.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %p
          %img.img-responsive{:src => '/assets/guiding-criteria.png', :alt => 'Guiding principles'}

/ .triangle_bg_3.white_txt.vspace
/   .container
/     .row.centered
/       .col-md-10.col-md-offset-1
/         %h3.ouishare_stencil
/           = t('dynamic_translations.main_schedule.title')
/         %hr.pink
/         %br
/         %br
/       .col-md-8.col-md-offset-2
/         %p
/           = t('dynamic_translations.program.text')
/       .col-md-6.col-md-offset-3.btn-space
/         %a{href: "/join#_getinvolved"}
/           %button.btn.btn-large.btn-primary
/             = t('dynamic_translations.get_involved.title')
/         %br
/         %br
/     .row.centered
/       .col-md-10.col-md-offset-1
/         %h4.white
/           = t('dynamic_translations.main_schedule.program_structure')
/         / %hr.pink
/         / %br
/         %br
/       .col-md-10.col-md-offset-1
/         %p
/           = t('dynamic_translations.program_structure.text_a') 
/         %p
/           = t('dynamic_translations.program_structure.text_b')
/         %p
/           = t('dynamic_translations.program_structure.text_c')
/     .row.centered
/       .col-md-10.col-md-offset-1.col-sm-12
/         .tickets-table.program-structure
/           .row
/             .col-md-12.title-inverse
/               %h4.purple
/                 = t('dynamic_translations.program_structure.day_1')
/               %h5.purple
/                 18/05. 8.30 - 19.00
/             .col-md-12
/               %h6
/                 = t('dynamic_translations.program_structure.day_1_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.states_title')
/               %p
/                 = t('dynamic_translations.program_structure.states_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.blockchain_title')
/               %p
/                 = t('dynamic_translations.program_structure.blockchain_question')
/           .row.start
/             .col-md-12.title-inverse
/               %h4.purple
/                 = t('dynamic_translations.program_structure.day_2')
/               %h5.purple
/                 19/05. 8.30 - 19.00
/             .col-md-12
/               %h6
/                 = t('dynamic_translations.program_structure.day_2_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.business_title')
/               %p
/                 = t('dynamic_translations.program_structure.business_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.governance_title')
/               %p
/                 = t('dynamic_translations.program_structure.governance_question')
/           .row.start
/             .col-md-12.title-inverse
/               %h4.purple
/                 = t('dynamic_translations.program_structure.day_3')
/               %h5.purple
/                 20/05. 13.00 - 21.00
/             .col-md-12
/               %h6
/                 = t('dynamic_translations.program_structure.day_3_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.work_title')
/               %p
/                 = t('dynamic_translations.program_structure.work_question')
/             .col-sm-6
/               %h5
/                 %span.vert-borders
/                   = t('dynamic_translations.program_structure.education_title')
/               %p
/                 = t('dynamic_translations.program_structure.education_question')
/             .col-md-12
/               %h5
/                 = t('dynamic_translations.love_party.title')
/                 20/05 22.00 - 
/           .row.start
/             .col-md-12.title
/               %h4.white
/                 = t('dynamic_translations.program_structure.public_day')
/               %h5
/                 21/05. 10.00 - 21.00
/             .col-md-12
/               %p
/                 Public Day descriptive text



/     / .row.centered#_schedule
/     /   %br
/     /   %br
/     /   %img{:src => '/assets/2016-schedule-en.png', :alt => 'Main schedule', :style => "max-width: 100%"}
/     /   / %a#sched-embed{:href => "http://ouisharefestparis2016.sched.org/grid/"}
/     /   / %script{:type => "text/javascript", :src => "http://ouisharefestparis2016.sched.org/js/embed.js"}


