#container.container-fluid.triangles
  #output.triangles
  .container
    %p Press space to drop or pick up the light. Enter key to add another one
    %p Press space to drop or pick up the light. Enter key to add another one
    %p Press space to drop or pick up the light. Enter key to add another one
    %p Press space to drop or pick up the light. Enter key to add another one
    %p Press space to drop or pick up the light. Enter key to add another one
#controls.controls

= javascript_include_tag 'triangles'
