.container.admin-container
  .row
    .col-md-12
      %h1 
        Manage Individual Types
.container
  .row
    .col-md-3
      = render '/admin/partial/menu', :active => 'individual_types'
    .col-md-9    
      %b
        =link_to new_individual_type_path do
          %i.glyphicon.glyphicon-plus-sign
          Create a new Individual Type
      %hr/
      %br
      = render '/individual_types/partials/index_partial', :admin_panel => true
      

      
