#headerwrap
%section#slideshow-container
  .banner
    %ul
      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
          %h1.bold
            This is
            %b GOOD
      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/Mbauwens.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
          %h1.bold Build your success
      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/OSFest_boat.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
          %h1.bold
            This is
            %b GOOD
      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/outdoor_Fest.jpg", style: "background:#e4e6e6"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
          %h1.bold.blue-text Build your success
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/Panel.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
          %h1.bold
            This is
            %b GOOD
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/PpolicyJam.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
          %h1.bold
            This is
            %b GOOD




      
  

  #highlights.grey_bg
    .container
      .row.centered
        %h3#_about_highlights
          Highlights from 2013
        .col-md-9.span-centered.margin_25
          %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/kXXPbkdKB7M", width: "560"}
        %p
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        .col-md-2
        .col-md-4
          %a.btn.btn-large.btn-primary{href: "http://www.youtube.com/user/OuiShareTV", :target => "_blank"} 
            Watch Button
        .col-md-4
          %a.btn.btn-large.btn-primary{href: "http://live.ouisharefest.com", :target => "_blank"} 
            See Button

  #location.triangle_bg
    .container
      .row.centered
        %h3#_about_location
          Location 
        .col-md-12
          %object{height: "375", width: "500"}
            %param{name: "flashvars", value: "offsite=true&lang=fr-fr&page_show_url=%2Fphotos%2Fouishare%2Fsets%2F72157633422542238%2Fshow%2F&page_show_back_url=%2Fphotos%2Fouishare%2Fsets%2F72157633422542238%2F&set_id=72157633422542238&jump_to="}/
            %param{name: "movie", value: "http://www.flickr.com/apps/slideshow/show.swf?v=140556"}/
            %param{name: "allowFullScreen", value: "true"}/
            %embed{allowfullscreen: "true", flashvars: "offsite=true&lang=fr-fr&page_show_url=%2Fphotos%2Fouishare%2Fsets%2F72157633422542238%2Fshow%2F&page_show_back_url=%2Fphotos%2Fouishare%2Fsets%2F72157633422542238%2F&set_id=72157633422542238&jump_to=", height: "375", src: "http://www.flickr.com/apps/slideshow/show.swf?v=140556", type: "application/x-shockwave-flash", width: "500"}
        .col-md-12{style: "margin-top:50px;"}
          .col-md-4
            %p
              "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
          .col-md-8
            #gmap_canvas{style: "height:300px;width:100%;margin-bottom:20px;"}
          


  #press.grey_bg
    .container
      .row.centered
        %h3#_about_press
          Press Coverage

        .container.sinfo
          .row
            .col-lg-5.col-lg-offset-1
              .testi-container
                .testi-text
                  %p There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience. First, your brand has to matter to consumers. This is where your emotional connection begins...
              / /testi-container
              %p
                %img.img-circle{alt: "", height: "80", src: "assets/press/BFM_Business.png", width: "80"}/
                \-
                %small Paul Hudson - BFM Business
            .col-lg-5
              .testi-container
                .testi-text
                  %p There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience. First, your brand has to matter to consumers. This is where your emotional connection begins...
              / /testi-container
              %p
                %img.img-circle{alt: "", height: "80", src: "assets/press/wired.png", width: "80"}/
                \-
                %small David Wayne - Wired
          / /row



  #testimonial.blank_bg
    .container
      .row.centered
        %h3#_about_testimonials
          Testimonials 
        .row.margin_25
          .col-md-8.col-xs-8
            %h3
              %b Paul Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/david.jpg"}/
        %br/
        %br/
        .row
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/paul.jpg"}/
          .col-md-8.col-xs-8
            %h3
              %b David Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
