#headerwrap.blue_bg
  .container
    .row.main-section 
      .col-md-10.col-md-offset-1.margin-bot
        %h1
          About OuiShare Fest


      %section#slideshow-container
        .banner
          %ul
            / slide 1
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            / slide 2
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Mbauwens.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
                %h1.bold Build your success
            / slide 3
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/OSFest_boat.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            / slide 4
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/outdoor_Fest.jpg", style: "background:#e4e6e6"}/
              .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
                %h1.bold.blue-text Build your success
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Panel.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/PpolicyJam.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD

  

  #highlight.grey_bg
    .container
      .row.centered#_highlights
        %h3
          Highlights from 2013 
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/kXXPbkdKB7M", width: "560"}
        %p
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

        .col-md-4
          %a.btn.btn-large.button-call-to-action-option{href: "https://docs.google.com/forms/d/1ejne9y3aDW8Xfejdt9_2ErZxXNc_VHccsaO-LHvKI4U/viewform", :target => "_blank"} 
            Watch Button
        .col-md-4
          %a.btn.btn-large.button-call-to-action-option{href: "https://docs.google.com/forms/d/1ejne9y3aDW8Xfejdt9_2ErZxXNc_VHccsaO-LHvKI4U/viewform", :target => "_blank"} 
            Watch Button

  #location.blank_bg
    .container
      .row.centered
        %h3#_location
          Location 

        %div{style: "overflow:hidden;height:500px;width:600px;"}
          #gmap_canvas{style: "height:500px;width:600px;"}

  #press.grey_bg
    .container
      .row.centered
        %h3#_press
          Press Coverage
  #testimonial.blank_bg
    .container
      .row.centered
        %h3#_testimonials
          Testimonials 
        .row
          .col-md-8.col-xs-8
            %h2
              %b Paul Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/david.jpg"}/
        %br/
        %br/
        .row
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/paul.jpg"}/
          .col-md-8.col-xs-8
            %h2
              %b David Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
