#headerwrap.blue_bg
  .container
    .row.main-section 
      .col-md-10.col-md-offset-1.margin-bot
        %h1#_about
          About




      %section#slideshow-container
        .banner
          %ul
            / slide 1
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            / slide 2
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#e4e6e6"}/
              .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
                %h1.bold.blue-text Build your success
            / slide 3
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            / slide 4
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#e4e6e6"}/
              .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "83"}
                %h1.bold.blue-text Build your success
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD
            %li{"data-transition" => "fade"}
              %img{alt: "", src: "assets/slider/Fanfare_1.jpg", style: "background:#1abc9c"}/
              .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "119"}
                %h1.bold
                  This is
                  %b GOOD

  

  #highlight.grey_bg
    .container
      .row.centered
        %h3#_highlights
          Highlights from 2013 
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/kXXPbkdKB7M", width: "560"}
  #location.blank_bg
    .container
      .row.centered
        %h3#_location
          Location 

        %div{style: "overflow:hidden;height:500px;width:600px;"}
          #gmap_canvas{style: "height:500px;width:600px;"}

  #press.grey_bg
    .container
      .row.centered
        %h3#_press
          Press Coverage
  #testimonial.blank_bg
    .container
      .row.centered
        %h3#_testimonials
          Testimonials 
        .row
          .col-md-8.col-xs-8
            %h2
              %b Paul Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/david.jpg"}/
        %br/
        %br/
        .row
          .col-md-4.col-xs-4
            %img.img-responsive{alt: "", src: "assets/team/paul.jpg"}/
          .col-md-8.col-xs-8
            %h2
              %b David Harrison
            %h6 Co-Funder | CEO
            %br/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
