.blank_bg.page
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.goldrush.p1')
        %p.text-center
          = t('dynamic_translations.goldrush.p2')
        %p.text-center
          = t('dynamic_translations.goldrush.p3')


