.blank_bg.page
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %p.text-center
          %b
            /= t('dynamic_translations.goldrush.p1')
            5 years on and the enchantment with the “Sharing Economy” is over. Many who set out on the initial journey did not make it, and for now, only very few found gold.
        %p.text-center
          /= t('dynamic_translations.goldrush.p2a')
          When in 2011 TIME magazine proclaimed Collaborative Consumption (recently mostly referred to as the Sharing Economy) as one of the
          %a{href: "http://content.time.com/time/specials/packages/article/0,28804,2059521_2059717_2059710,00.html", target: "_blank"}
            /= t('dynamic_translations.goldrush.p2b')
            top 10 ideas that will change the world
          /= t('dynamic_translations.goldrush.p2c')
          ","
          it set high expectations for this nascent movement. After harsh times of economic downturn, it was believed to be able to address social, environmental and economic problems all at once.
        %p.text-center
          /= t('dynamic_translations.goldrush.p3')
          Now we can only look back fondly at those early times of abounding, and possibly naive, excitement and hope for these new models. For now, it appears only few are benefitting from the abundance of value that has been created by communities and entrepreneurs worldwide - few organizations that are starting to look suspiciously similar to those they were disrupting - or worse?
        %p.text-center
          /= t('dynamic_translations.goldrush.p4')
          The pioneers in the American West may have been disappointed in their quest for gold, but instead they found something else. They arrived in a promised land, where they could start over and build something new.
        %p.text-center
          %b
            /= t('dynamic_translations.goldrush.p5')
            We’ve made the journey all the way here, so now let’s have the courage to go beyond.
        %p.text-center
          %a{href: "http://magazine.ouishare.net/2015/12/after-the-gold-rush", target: "_blank"}
            /= t('dynamic_translations.goldrush.p6')
            >> Read more about the OuiShare Fest 2016 theme ‘After the Gold Rush’


