  = render 'home/twidget'

.blank_bg.vspace
  .container
    .row.centered{:style => 'margin-top: 7%;'}
      %h3.ouishare_stencil
        Twitter Curator
      %hr.pink
    .row
      %a.twitter-grid{:href => "https://twitter.com/kirilind/timelines/730400304718581760"}
        Twitter grid (test)
      %script{:src => "//platform.twitter.com/widgets.js", :charset => "utf-8", :async => ""}





