.blank_bg.page
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %a.twitter-timeline{:href => "https://twitter.com/search?q=%23osfest16%20OR%20%40ouisharefest", :'data-widget-id' => "730403834791628801", :height => "1000", :width => "1000"}
          Tweets about OuiShare Fest 2016
        %script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){js=d.createElement(s);
          js.id=id;
          js.src=p+"://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
          }}(document,"script","twitter-wjs");

.blank_bg.vspace
  .container
    .row.centered{:style => 'margin-top: 7%;'}
      %h3.ouishare_stencil
        Twitter Curator
      %hr.pink
    .row
      %a.twitter-grid{:href => "https://twitter.com/kirilind/timelines/730400304718581760"}
        Twitter grid (test)
      %script{:src => "//platform.twitter.com/widgets.js", :charset => "utf-8", :async => ""}





