.triangle_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.live_reporting.title')
      %br      
      %br
      .container
        %p
          = t('dynamic_translations.live_reporting.paragraph')

.blue_bg#_stories
  .container
    .row.centered
      %h3.ouishare_stencil.white
        = t('dynamic_translations.live_reporting.stories')
      %br      
      %br
    .row.centered
      .col-sm-12.col-md-5.col-lg-5
        %iframe{ :src => "http://storify.com/OuiShare/getting-started/embed?border=false", :width => "100%", :height =>"674", :frameborder => "no", :allowtransparency => :true, :style => "margin:auto;"}

        %script{ :src => "http://storify.com/OuiShare/getting-started.js?border=false"}

      .col-sm-12.col-md-6.col-lg-6.pull-right
        %iframe{ :src => "http://blog.ouisharefest.com/", :width => "100%", :height =>"674", :frameborder => "no", :allowtransparency => :true, :style => "margin:auto;"}

.yellow_bg#_listen
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.live_reporting.listen')