.openday.vspace{:style => 'padding-top:120px;'}
  .container
    .main-section
      .row
        #head_logo_edges
          = image_tag "/assets/logo-fest-2016-openday.png"
      .row
        .col-md-6.col-md-offset-3
          / %br
          %h5.normal
            %span.vert-borders
              21 MAI 2016 - 10H /18H
            %br
            Entrée Libre
      .row
        .col-md-8.col-md-offset-2
          %br
          %p.centered.join_bouton
            %a{:href => '#programme'}
              %button.btn.btn-padding.btn-fandango
                Découvrez le programme !

.blank_bg#programme
  .container
    .row.centered
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        %p.large{:style => 'margin-top: 1.8em;'}
          A travers des parcours thématiques, des conférences, des ateliers collaboratifs, des startups innovantes ou des initiatives citoyennes, les portes du Cabaret Sauvage s’ouvrent aux publics intéressés par les enjeux de la société collaborative. Vous en en sortirez équipés pour passer à l’action et prendre part au monde qui se crée.
        %br

.triangle_bg_4.white_txt.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        DECOUVREZ LES 5 PARCOURS
      %hr.pink
      %br
      %br
    .row.justify
      .col-md-8.col-md-offset-2
        %h5
          Parcours VERT : Être « écolo » chacun à son niveau
        %p
          Nombreux se posent la question : comment être plus responsable face à l’urgence climatique? Dans ce parcours, vous découvrirez qu’il existe beaucoup de solutions à l’échelle individuelle et/ou collective, un large panorama d’actions simples et pratiques à mettre en oeuvre dès son retour à la maison.
          %br
          %br
        %h5
          Parcours BLEU : Trouver ma place dans ce monde en transition
        %p
          Les “job out” font suite aux “burn out” qui se multiplient dans les entreprises, et si un autre business model, plus personnel était possible ? Et si l’épanouissement professionnel pouvait répondre à mes aspirations personnelles. Venez rencontrer ceux qui ont passé le cap ou qui l’accompagnent.
          %br
          %br
        %h5
          Parcours JAUNE : Renouveler d’urgence la démocratie
        %p
          Les mobilisations citoyennes se multiplient, les entreprises innovent sur les questions de gouvernance, la démocratie a perdu de sa valeur. Et si les citoyens avaient finalement le pouvoir sur la place publique et dans les entreprises ? Venez explorer les projets concrets qui écoutent et embarquent les citoyens qui veulent renouveler la démocratie.
          %br
          %br
        %h5
          Parcours VIOLET : Mettre le lien humain au coeur du collaboratif
        %p
          Les plateformes d’échange et de partage se multiplient, et nous en sommes tous des utilisateurs, mais aujourd’hui que reste-t-il de l’humain ? Venez faire un tour d’horizon des initiatives et des projets qui mettent le lien social au coeur de leur métier, par conviction, par choix et surtout par amour de l’autre.
          %br
          %br
        %h5
          Parcours ROSE : Impacter positivement la société depuis mon écran
        %p
          Faire partie d’une communauté, c’est bien, et si en plus on avait un impact réel et positif grâce à notre mobilisation ? Vous irez à la rencontre de ces membres de communautés qui en se réunissant en ligne, aident, soutiennent, accompagnent et re-donnent du courage aux projets et  aux personnes dans la vie réelle.
          %br
          %br

.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        A PROPOS DE L’OPEN DAY - JE REVAIS D’UN AUTRE MONDE
      %hr.pink
      %br
      %br
    .row.justify
      .col-md-8.col-md-offset-2
        %p
          %em
            “Il est temps de passer à l’action !”
        %p
          Il ne s’agit plus d’expliquer et de comprendre la société collaborative, mais bien d’en faire partie, et de passer à l’action. Pendant cette journée, les visiteurs vont aller à la rencontre des experts, des initiatives les plus innovantes, des start-ups responsables, et des communautés qui fabriquent le nouveau monde.
        %p
          Nous avons 3 objectifs :
        %ul
          %li
            permettre à chacun de reprendre le pouvoir de son action dans la cité et dans l’économie
          %li
            montrer que la nouvelle économie peut être responsable, sociale et respectueuse des hommes et de la nature
          %li
            s’ancrer sur le territoire francilien, avec une journée en français et une majorité d’acteurs locaux représentés
        %p
          Dans chaque parcours thématique : 
        %ul
          %li
            Le discours d’une personnalité inspirante pour introduire le sujet
          %li
            Un panel de 3 ou 4 intervenants
          %li
            Des ateliers collaboratifs et pratiques
          %li
            Des stands de mise en valeur d’initiatives et de start-ups 

.blank_bg#intervenants
  .container
    .row.centered
      %h3.ouishare_stencil
        Les intervenants
      %hr.pink
      %br
      %br
    .row.centered
      - if !@odspeaker.blank?
        .ch-grid
          - @odspeaker.each do |team_member|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/team_member_display", :team_member => team_member 


.partners-container#partenaires
  .container.sinfo
    - if !@odpartners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          Les partenaires
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @odpartners, :important_partners_display => false