
#_schedule.section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.program.main_schedule')
      %br
      %br
      .container
        %p
          The OuiShare Fest program is being co-created with our community based on over 150 submissions to our open call for proposals. You can see all confirmed sessions below, but the program will grow and evolve till the day the festival begins.
          %br
          %br
          %br
          To make this a truly collaborative experience, the festival will feature 3 days of interactive sessions in 4 areas, mixing traditional formats such as keynotes, panels and Q & As’ with participative formats such as unpanels, co-creation workshops, networking sessions, and many more you have never heard of.
    %br
    %br
    .row.centered
      %a#sched-embed{:href => "http://ouisharefest14.sched.org/"}
      %script{:type => "text/javascript", :src => "http://ouisharefest14.sched.org/js/embed.js"}

    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.program.satellite_events')

    