//encoding: utf-8
.container
  %h1
    Sched TEst

  / =@request_response.html_safe
  %a#sched-embed{:href => "http://testfffffffff2013.sched.org/"}  View the testfffffffff mobile app
  %script{:type => "text/javascript", :src => "http://testfffffffff2013.sched.org/js/embed.js"}