.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        Twitter widget (#osfest16 or @ouisharefest)
      %hr.pink
    .row
      %a.twitter-timeline{href: "https://twitter.com/search?q=%23osfest16%20OR%20%40ouisharefest"}
      = javascript_include_tag 'twitter-widget'