.adesias_header
  .block_header.col-lg-12
    .header_video_name_header.col-lg-8
      = "#" + @adesias_video.first_name
    .back_to_home_header.col-lg-1.col-lg-offset-2
      = link_to image_tag('/assets/adesias/ad_video_btn_retour.png'), stories_path