.modal.fade#server_modal
  .modal-dialog{:style => "display: block;margin-top: 25%;position: initial;"}
    .modal-content
      .modal-header.text-center
        Your server is restarting
      .modal-body.text-center
        =image_tag "/assets/ajax-loader.gif"