.modal.fade#visit_modal
  .modal-dialog{:style => "display: block;margin-top: 20%;position: initial;"}
    .modal-content
      .modal-body.text-center
        .row
          = t('reminder_ticket.line1')
        %br
        .row
          %a.get-involved-link{:href => "#_tickets"}
            = t('reminder_ticket.getyourtickets')
      .modal-footer
        #control-zone.text-center 
          %button{:type => "button", :class => "btn btn-success", "data-dismiss" => "modal"}
            = t('involve_popup.close')
          
        
          