

#biohackerspace {
    background: url('/assets/adesias/biohackerspace_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}
#biohackerspace:hover {
    background: url('/assets/adesias/biohackerspace_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;    
}

#climatechange {
    background: url('/assets/adesias/climatechange_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}
#climatechange:hover {
    background: url('/assets/adesias/climatechange_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;    
}

#communities {
    background: url('/assets/adesias/communities_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}
#communities:hover {
    background: url('/assets/adesias/communities_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;    
}


#coworking {
    background: url('/assets/adesias/coworking_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}
#coworking:hover {
    background: url('/assets/adesias/coworking_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;    
}


#currency {
    background: url('/assets/adesias/currency_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}
#currency:hover {
    background: url('/assets/adesias/currency_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;    
}

