@charset "utf-8";

#adesias_home{
    width:100% !important;
    background-image: url(/assets/adesias/ad_background.jpg);
    width:100%;
    height:100%;
    padding-top:50px;
}

.adesias_header{
    width:100% !important;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(/assets/adesias/ad_header2.png);
    height:210px;
    background-size: 100%;
}

.adesias_main_title
{
    font-family:'BebasNeue';
    font-size:150px;
    color:#FFF;
}

.adesias_main_content
{
    width:100% !important;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('/assets/adesias/ad_intro.png');
    height:520px;    
}

.adesias_main_logo
{
    margin: 0 0 0 20px;float:left;
}

.adesias_main_text
{
    font-size:25px;
    font-family:'BebasNeue';
    margin: 200px 560px 0px 280px;    
}

.adesias_videos_index
{
    width:100% !important;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url('/assets/adesias/ad-zone-mozaicvideo.png');
    background-size: 100%;    
}



@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/BebasNeue/BebasNeue Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/BebasNeue/BebasNeue Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue Book';
    src: url('/assets/BebasNeue/BebasNeue Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue Light';
    src: url('/assets/BebasNeue/BebasNeue Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue Thin';
    src: url('/assets/BebasNeue/BebasNeue Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue Thin';
    src: url('/assets/BebasNeue/BebasNeue Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OwnHand';
    src: url('/assets/OwnHand/OwnHand.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


#SHAREABLE{
    background: url('/assets/adesias/previews/shareable_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}


#COMMUNITIES{
    background: url('/assets/adesias/previews/communities_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#CLIMATECHANGE{
    background: url('/assets/adesias/previews/climatechange_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FOOD{
    background: url('/assets/adesias/previews/food_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#TRANSPORTATION{
    background: url('/assets/adesias/previews/transportation_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#COWORKING{
    background: url('/assets/adesias/previews/coworking_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#BIOHACKERSPACE{
    background: url('/assets/adesias/previews/biohackerspace_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FABLAB{
    background: url('/assets/adesias/previews/fablab_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FREESPACE{
    background: url('/assets/adesias/previews/freespace_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#JOURNALISM{
    background: url('/assets/adesias/previews/journalism_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#DEMOCRACY{
    background: url('/assets/adesias/previews/democracy_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#EDUCATION{
    background: url('/assets/adesias/previews/education_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#KNOWLEDGE{
    background: url('/assets/adesias/previews/knowledge_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#CURRENCY{
    background: url('/assets/adesias/previews/currency_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#MONEY{
    background: url('/assets/adesias/previews/money_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#EXPERIENCES{
    background: url('/assets/adesias/previews/experiences_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#SHARINGISSEXY{
    background: url('/assets/adesias/previews/sharingissexy_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#TRUST{
    background: url('/assets/adesias/previews/trust_OFF.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}












#SHAREABLE:hover{
    background: url('/assets/adesias/previews/shareable_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}


#COMMUNITIES:hover{
    background: url('/assets/adesias/previews/communities_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#CLIMATECHANGE:hover{
    background: url('/assets/adesias/previews/climatechange_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FOOD:hover{
    background: url('/assets/adesias/previews/food_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#TRANSPORTATION:hover{
    background: url('/assets/adesias/previews/transportation_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#COWORKING:hover{
    background: url('/assets/adesias/previews/coworking_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#BIOHACKERSPACE:hover{
    background: url('/assets/adesias/previews/biohackerspace_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FABLAB:hover{
    background: url('/assets/adesias/previews/fablab_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#FREESPACE:hover{
    background: url('/assets/adesias/previews/freespace_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#JOURNALISM:hover{
    background: url('/assets/adesias/previews/journalism_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#DEMOCRACY:hover{
    background: url('/assets/adesias/previews/democracy_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#EDUCATION:hover{
    background: url('/assets/adesias/previews/education_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#KNOWLEDGE:hover{
    background: url('/assets/adesias/previews/knowledge_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#CURRENCY:hover{
    background: url('/assets/adesias/previews/currency_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#MONEY:hover{
    background: url('/assets/adesias/previews/money_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#EXPERIENCES:hover{
    background: url('/assets/adesias/previews/experiences_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#SHARINGISSEXY:hover{
    background: url('/assets/adesias/previews/sharingissexy_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}

#TRUST:hover{
    background: url('/assets/adesias/previews/trust_ON.png');
    text-indent:-9999px;
    display: block;
    width: 322px;
    height: 189px;
}








