// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav.nav-stacked{
  li{
    &.active{
      a.main-list{
        background-color: #e7e7e7;
      }
    }  
    .nav.nav-stacked{   
      margin-top: 2px;  
      padding-left: 40px;
    }
  }
  ul{
    li{
      a{
        background-color: #FFFFFF;
      }
      &.active{
        a{
          background-color: #e7e7e7;
        }
      }
    }
  }        
}
.admin-container{
  margin-top: 70px;
}
