// Place all the styles related to the Fest Forward page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_bg.top_ff, .top_ff {
  background-color: #f56c6c !important;
  background-position: 0px 80px;
}

#head_logo_ff img{
  height:250px;
  margin-top:150px;
}

h3, h4, h4.coral {
  color: #f56c6c;
  text-transform: uppercase;
  font-family: "naiv_normal";
}

h4 {
  font-size: 23px;
}

// Typeform styles
iframe#typeform{
  border:0;
  height: 1100px;
  display:inline-block;
}
