// Place all the styles related to the Fest Forward page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_bg.top_ff {
	background-color: #f56c6c;
	background-position: 0px 80px;
}

#head_logo_ff img{
  height:250px;
  margin-top:150px;
}

h4.coral {
    color: #f56c6c;
    text-transform: uppercase;
    font-family: "naiv_normal";
    font-size: 23px;
}