// Place all the styles related to the Fest Forward page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_ff {
  background-color: #001E60 !important;
  background-position: 0px 80px;
}
.fforward_bg {
  background: url(/assets/16bg-fest-forward.jpg) no-repeat;
  background-color: #001E60;
  background-position: 0px 85px;
  min-height: 100%;
}
#head_logo_ff img{
  height:250px;
  margin-top:150px;
  margin-bottom: 40px;
}

h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "naiv_normal";
}
.blue {
  color: #001E60;
}
/*h4 {
  font-size: 23px !important;
}*/

.tagline {
  background-color: #001E60;
  color: white;
  padding:0.2em 0.5em;
}

// Typeform styles
iframe#typeform{
  border:0;
  height: 1100px;
  display:inline-block;
}
