// Guiding criteria table styles

table.criteria {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  font-family:'naiv_normal';

  img {
    max-width: 80px;
    padding: 0.6em 0.25em;

    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  p {
    vertical-align: center;

    .left {
    text-align: left;
    }
    .right {
    text-align: right;
    }
    .justify {
    text-align: justify;
    }
  }
  td {
    /*padding: 0.5em;*/
    border: 2px dashed white;
  }
}