// Guiding criteria table styles

table.criteria {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  font-family:'naiv thin';

  img {
    max-width: 80px;
    padding: 0.6em 0.25em;
  }
  p {
    vertical-align: middle;
    font-size: larger;
  }

  td {
    /*padding: 0.5em;*/
    border: 3px dashed white;
    vertical-align: middle;
  }
}

img.left {
  float: left;
}
img.right {
  float: right;
}
p.left {
text-align: left;
}
p.right {
text-align: right;
}
p.justify {
text-align: justify;
}