// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nopadding {
  padding-bottom: 0px !important;
}
.tooltip-inner{
  font-size: 11px;
  line-height: 1.4;
  max-width: 400px;
  padding: 8px;
  width: 320px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Ubuntu','Helvetica Neue','Helvetica','Arial','sans-serif';
}

.tooltip-arrow{
  border-right-color: #000 !important;
}

.follow-event-button{
  background-color: #d5544b;
}

#btn_attendees_up{
  display: none;
}
.parnters-bg{
  padding-top: 100px;
}
.downpage{
  .downpage-icon{
    margin-top: 20px;
  }
  .downpage-text{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato';
  }
}
.main-section{
  #headerwrap{
    padding-top: 55px;
  }

}
.speakers-container{
  .container.sinfo{
    padding-top: 31px;
  }
}
.get-involved-section{
  .get-involved-punchline{
    background-color: white;
    color: #E03E52;
    padding-top: 1px;
  }
}
.button-call-to-action-option{
  border-radius: 10px !important;
}
.events-section{
  .events-container{
    border-bottom: 1px solid #f9f9f9;
    background: rgba(0, 0, 0, 0.15);
    height: 85px;
  }
  .events-container:hover{
    background: rgba(0, 0, 0, 0.5);
  }
  .events-items{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 18px;
    text-align: left;
    height: 40px;
    color: #fff;
    padding-top: 10px;
    a{
      color: #0b0b6d;
    }
  }
}
.tickets-section{
  .tickets-font-color{
    color: #c5c5c5;
  }
  .gravatar-display{
    width: 50px;
  }
  .who-s-coming-title{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .attendee-container{
    border-bottom: 1px solid #f9f9f9;
    background: rgba(0, 0, 0, 0.15);
    height: 70px;
  }
  .attendee-container:hover{
    background: rgba(0, 0, 0, 0.5);
  }
  .attendee-items{
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: left;
    height: 40px;
    color: #fff;
    padding-top: 10px;
  }

}
.section{
  padding-top: 130px;
}
.partners-container{
  .logo-centered{
    position: relative;
    top: 25%;
  }
}
.get-involved-section{
  .get-involved-options-choice{
    li{
      min-height: 90px;
    }
  }
}
.individuals-list-display{
  min-height: 335px;
}
.individuals-list-btn{
  position: relative;
  top: 20px;
}
.design-team-footer{
  position: relative;
  top: -21px;
  left: 1px;
}


.container{
  .main-section{
    .main-title{
      font-size: 45px;
      font-family: 'naiv_normal_thin';
    }
    .main-section-paragraphes{
      font-size:22px;
      font-family: 'naiv_normal_thin';
      margin-top: 10px;
    }
    .twitter-hashtag{
      color: #fff;
    }
  }
}

.main-section {
  min-height: 100%;
}
.second-section {
  min-height: 100%;
  padding-top: 10%;
  text-align: left;
}
.third-section {
  min-height: 100%;
  text-align: left;
  padding-top: 10%;
}
.tickets {
  background: url(/assets/redblob.jpg);
  background-size: cover;
}

.get-involved-section {
  background: url(/assets/greyblob.png);
  background-size: cover;
  padding-top: 15%;
  min-height: 100%;
}

.third-section > div > div > div > div > h5 {
  color: #001e60;
  font-size: 16px;
}

.first-part {
  background: url(/assets/headbackground.png) no-repeat;

  /*background-color: #33FF99; */
  margin-top: 0px;
  padding-top:5%;
  text-align:center;
  background-position: center center;
  background-size: cover;
}

p.white {
  font-size: 15px;
}

.tickets-section > div:nth-child(1) {
  padding-top: 17%;
  padding-bottom: 40%;
}
.third-section {
  padding-bottom: 15%;
}

.get-involved-section > div {
  padding-top: 15%;
  padding-bottom: 16%;
}
div.container:nth-child(11) > div:nth-child(1) {
  padding-top: 10%;
}

div.alt > div > div > div > a {
  background-color: #E03E51;
}

a.btn:nth-child(3) {
  background-color: #E03E51;
}

.aboutouishare-section {
  padding-bottom: 10%;
  padding-top: 10%;
}

.aboutouishare-section > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) {
  padding-top: 30px;
}

div.col-xs-6:nth-child(2) {
  padding-top: 50px;
}

.col-md-12 > div:nth-child(1) {
  color: #E03E51;
}
