// Place all the styles related to the Individual controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.individual-form{
  .form-error-highlight{
    border-style: solid;
    border-width: 1px;
    border-color: red;
    .form-error-message{
      color:red;
    }
  }  
}

img.grayscale {
  filter: url("grayscale.svg#greyscale");
  // -webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  transition: all .6s ease;
  &:hover{
    filter: none;
    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter …\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    // -moz-filter: grayscale(0%);
  }
}

