.top-buffer{
  margin-top: 100px;
}

.visible-link{
  text-shadow: 1px 1px white;
}

p.little{
  font-size: 14px;
}
p.large {
  font-size: 23px;
}

.justify{
  text-align: justify;
}

.awards-text{
  padding: 20px 0 0 20px;
}

#myCarousel{
  margin-top: 25px;
}
.ouishare_stencil{
  text-transform: uppercase;
  // font-family: 'ouisharestencilbold';
}

.press-content{
  height:200px;
  display: table;
  width: 85%;
  margin: auto;
  background: rgba(255,255,255,0.5);
}

.quote-left-carousel{
  position: absolute;
  left: 30px;
  top: -30px;
}

.quote-right-carousel{
  position: absolute;
  right: 30px;
  bottom: 0px;

}


.press-text{
  h3, h4, h5, h6, .h6{
    font-family: 'naiv_normal';
    text-transform: none;
  }
  h3{
    font-size:25px;
  }
  text-align: center;
  height: auto;
  width: 80%;
  vertical-align: middle;
  display: table-cell;
}

.label-press{
  a{
    color: #0b0b6d;
    font-family:'naiv_normal';
  }
  color: #0b0b6d;
  font-family:'naiv_normal';
  text-align: left;
  margin-top: 15px;
  margin-left: 7.5%;
}

/* FF projects quotes overrides */
#ff_projects {
  .carousel {
    margin-top: 3em;
    margin-bottom: 5em;
  }
  .quote-left-carousel,
  .quote-right-carousel {
    opacity: 0.5;
  }
  .press-content{
    width: 75%;
    height: auto;
  }
  .label-press {
    margin-right: 99px;
  }
}

.navbar .nav li.dropdown:hover{
  // background-color: #34495e;
}


/* Header showing dropdown on hover */
.navbar .nav li.dropdown:hover .dropdown-menu {
  // background-color: #34495e;
  opacity: 0.89;
  padding: 0;
  visibility: visible;
}

.navbar .navbar-brand{
  padding: 12px 28px 11px 17px;
}

h3 {
  // color: #E03E52;
  // color: #f56c6c;
  color: #001E60;
}

.headline {
  font-family: Calibri, "Helvetica", san-serif;
  line-height: 1.5em;
  color: black;
  font-size: 10px;
}

.navbar .nav > li > a{

  padding: 12px 14px;
}

.nav.navbar-nav{

  .highlight{
    color: white;
    color: #fff;
    -o-transition: 800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition: 800ms;
    transition: 800ms;
    // font-family: arial;
    font-weight: bold;
  }

  .tickets-highlight{
    margin-right: 10px;
    .highlight{
      // background-color: #09C894;
      background-color: #001E60;
  }
    .highlight:hover{
      background-color: #fff;
      color: #001e60;
    }
  }

  .blog-highlight{
    .highlight{
    // background-color: #0b0b6d;
    color: white;
  }
    .highlight:hover{
      // background-color: #34495e;
      color: #fff;
    }
  }



  .header-vertical-align{
    margin-top: 10px;
  }

}
.navbar.navbar-default{
  .language-header{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-family: naiv_normal;
    border: none;
    width: 50px;
    background: url("/assets/arrow_language.png") no-repeat right;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 15px;
    outline: none;
  }
}

.table-nonfluid {
   width: auto;
}
.unstyled{
  list-style: none;
}

.display-inline{
  display: inline-block;
}

.caps {
  text-transform: uppercase;
}
.spaced {
  h4, h5, h6 {
    margin-top: 1.1em;
  }
}

.eventbrite {
  width: 100%;
  text-align: left;
  padding: 0 1.6em;
  iframe.inverse {
    background-color: transparent !important;
    color: white !important;
  }
}
.btn-space {
  padding-top: 3em;
  padding-bottom: 3em;
}
.vert-borders {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
}