.nav.navbar-nav{

  .tickets-highlight{
    padding: 17px 5px 0px 5px;
  }

  .highlight{
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #48c9b0;
    -o-transition: 800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
  .highlight:hover{
    background-color: #34495e;
  }

  .header-vertical-align{
    margin-top: 10px;
  }
  
}
.navbar.navbar-default{
  .language-header{
    width: 65px;
    position: relative;
    top: -2px;
    right: -32px;
  }
}

.table-nonfluid {
   width: auto;
}
.unstyled{
  list-style: none;
}

.display-inline{
  display: inline-block;
}

.white{
  color: #ffffff;
}