.navbar-solid {
  /*background-color: #001e60 !important;*/
  /*color:#FFF;*/
  margin-top: 30px;
  background-color: transparent !important;
  color: #001e60;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
.navbar-solid .navbar-nav li a{
  color: white !important;
  /*color: #001e60 !important;*/
}

.navbar-solid ul, .navbar-solid .navbar .nav ul li {
  background-color: transparent !important;
}
.navbar-solid ul li a {
  color: white !important;
}
.navbar-solid .navbar .nav ul li a:hover {
  color: #001e60 !important;
  background-color: white !important;
}

.navbar-solid .navbar-nav .tickets-highlight .highlight {
  background-color: transparent !important;
  color: #001e60 !important;
}


/*.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  transition: all 0.2s linear 0s;
}*/