/* default navbar colors */
.navbar-default {
  background-color: #001e60;
  .navbar-nav {
    li a,
    ul li a {
      color: white;
    }
  }
}


/* top transparent navbar */
.navbar-solid {
  /*background-color: #001e60 !important;*/
  /*color:#FFF;*/
  margin-top: 30px;
  background-color: transparent !important;
  color: #001e60;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.navbar-solid .navbar-nav ul, 
.navbar-solid .navbar-nav ul li, 
.navbar-solid .navbar-nav ul li a {
  background-color: transparent !important;
}

.navbar-solid .navbar-nav li a,
.navbar-solid .navbar-nav ul li a {
  color: white !important;
}

.navbar-solid .navbar-nav li a:hover,
.navbar-solid .navbar-nav ul li a:hover {
  color: #001e60 !important;
  background-color: white !important;
}

.navbar-solid .navbar-nav .tickets-highlight .highlight {
  background-color: transparent !important;
  color: #001e60 !important;
}


/*.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  transition: all 0.2s linear 0s;
}*/

/* navbar collapse breakpoint Bootstrap override */
@media (min-width: 1200px) {
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}
