// All styles for tickets-table

.tickets-table [class^=col-]{
  padding: 0.7em 0.5em;
  border-top: 1px solid #001E60;
  border-bottom: 1px solid #001E60;
}

.tickets-table {
  .col-md-8,
  .title,
  p{
    @media (min-width: 992px) {
      text-align: left;
      margin-left: -0.5em;
    }
    .col-xs-6 {
      text-align: center;
    }
  }
  .title {
    background-color: #001E60;
    color: white;
    font-family:'naiv_normal';
    padding: 1em 0.5em;
  }
  .title-blue {
    font-family:'naiv_normal';
    text-transform: uppercase;
    padding: 1em 0.5em;
    border: none;
  }
  .row{
    padding-top:0;
  }
  .row-eq-height{
    overflow: hidden;

    [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    }
  }
}

