// All styles for tickets-table

.tickets-table [class^=col-]{
  padding: 0.6em 1.2em;
  /*border-top: 1px solid #001E60;*/
  /*border-bottom: 1px solid #001E60;*/
}
.tickets-table.border-white [class^=col-]{
  /*border-color: white !important;*/
}
.tickets-border {
  border: 1px solid white;
}
.tickets-table {
  img {
    max-width: 1.3em;
    max-height: 1.3em;
  }
  .col-md-8,
  .col-md-6,
  .title,
  .title-inverse,
  p{
    @media (min-width: 992px) {
      text-align: left;
      margin-left: -0em;
    }
    .col-xs-6,
    .col-xs-4 {
      text-align: center;
    }
  }
  .title, .title-inverse, .title-blue {
    padding: 0.8em 1.2em;
    font-size: medium;
    font-weight: bold;
  }
  .title {
    background-color: #001E60;
    color: white; 
  }
  .title-inverse {
    background-color: white;
    color: #001E60;
  }
  .title-blue {
    font-family:'naiv_normal';
    text-transform: uppercase;
    border: 1px solid white !important;
    border-bottom: none !important;
  }

  .row{
    padding-top:0 !important;
    margin: 0;
  }
  .row-eq-height{
    overflow: hidden;

    [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    }
  }
}

.tickets-table.program-structure {
  margin-top: 3em;
  h6 {
    text-transform: none;
  }
  .col-md-12 {
    h4, h5, h6 {
      text-align: center;
    }
  }
  .col-sm-6 {
    h5, h6 {
      @media (min-width: 992px) {
        text-align: left;
      }
    }
  }
  .row > .col-sm-6:first-of-kind {
    border-right: 1px solid white;
  }
  .row.start {
    /*margin-top: 4em;*/
  }
  .title-inverse {
    margin: 2em 0;
  }
  .col-sm-6.vert-borders {
    @media (max-width: 992px) {
      margin: 1.5em 0;
    }
  }
}
