/ FOOTER
#f
  .container
    .row
      .col-lg-5
        %h5 Contact
        %p
          General questions:
          %a{href: "mailto:hello@ouishare.net", target: "_blank"} hello@ouisharefest.com
          %br/
          Volunteers:
          %a{href: "mailto:volunteers@ouishare.net", target: "_blank"} volunteers@ouisharefest.com
          %br/
          Partners  Sponsors:
          %a{href: "partners:press@ouishare.net", target: "_blank"} partners@ouisharefest.com
          %br/
          = link_to 'Contact Us', home_contact_path
          %br/
          = link_to 'Contact Us with PopUp', "#", :id => 'link_contact_modal'
        %p
          About
          %a{href: "http://ouishare.net/about/", target: "_blank"} OuiShare
      .col-lg-2
        %h5 Press
        %p
          %a{href: "#"} Download press kit
        %p
          %a{href: "mailto:press@ouishare.net", target: "_blank"} Press Contact
      .col-lg-2
        %h5 Location
        %p
          %small
            Cabaret Sauvage
            %br/
            211, Avenue Jean Jaurès
            %br/
            Paris 19ème
      .col-lg-3
        %p
        %p
          %a{href: "https://maps.google.fr/maps?q=Cabaret+Sauvage,+Paris=fr=UTF8=48.895308,2.392101=0.01975,0.045362=48.895345,2.392168=0.009875,0.022681=caba=Cabaret+Sauvage,=Paris,+%C3%8Ele-de-France=m=15", target: "_blank"}
            %img.img-responsive.img-thumbnail{src: "/assets/small_map.png"}/

= yield :scripts
=render '/modals/contact_modal'