.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path} 
        = image_tag "/assets/logo_ouishare.png", :class => "header-logo"
        
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "#anc_about"} 
            =t('dynamic_translations.about.title')
        %li
          %a{href: "#anc_speakers"}
            =t('dynamic_translations.speakers.title')
        %li
          %a{href: "#anc_getinvolved"}
            =t('dynamic_translations.get_involved.title')
        %li
          %a{href: "#anc_tickets"}
            =t('dynamic_translations.tickets.title')
        %li
          %a{href: "#anc_partners"}
            =t('dynamic_translations.partners.title')
        %li
          %a{href: "#anc_team"}
            =t('dynamic_translations.team.title')
        / %li
        /   %a{href: "http://blog.ouisharefest.com", target: "_blank"}
        /     =t('dynamic_translations.blog.title')
        %li
          .text-center.social-media-icons-header
            %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
              %img{src: "/assets/facebook.svg", width: "24px"}/        
            %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
              %img{src: "/assets/twitter.svg", width: "24px"}/ 
        
        / %li
        /   = select_languages

